@using SecuDev.Helper
@using SecuDev.Models;
@{
    Layout = "~/Views/Shared/_PopLayout.cshtml";
    List<Contact> contacts = ViewBag.Contact;
	int LocationID = ViewBag.LocationID;
}
<link href="https://cdn.jsdelivr.net/npm/tom-select@2.0.0-rc.4/dist/css/tom-select.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.0.0-rc.4/dist/js/tom-select.complete.min.js"></script>
<script>
    $().ready(function () {

        

    })

    function fnAddContact() {

        const ContactName = $("#ContactName").val()
        const ContactGrade = $("#ContactGrade").val()
        const ContactCompany = $("#ContactCompany").val()
        const ContactTel = $("#ContactTel").val()
        const ContactEmail = $("#ContactEmail").val()

        if (ContactName == '') {

            alert("입력 값을 다시 확인해주세요.")

            $("#ContactName").focus();

            return
        }

        if (ContactGrade == '') {

            alert("입력 값을 다시 확인해주세요.")

            $("#ContactGrade").focus();

            return
        }

        if (ContactCompany == '') {

            alert("입력 값을 다시 확인해주세요.")

            $("#ContactCompany").focus();

            return
        }

        if (ContactTel == '') {

            alert("입력 값을 다시 확인해주세요.")

            $("#ContactTel").focus();

            return
        }

        pattern = /^\b[A-Z0-9._%-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i;

        if(!pattern.test(ContactEmail) || ContactEmail == '') {

            alert("입력 값을 다시 확인해주세요.")

            $("#ContactEmail").focus();

            return
        }
        
        $.ajax({
            type: "POST",
            url: "/Project/AddContact",
            data: {
                LocationID:@LocationID,
                ContactName:ContactName,
                ContactGrade:ContactGrade,
                ContactCompany:ContactCompany,
                ContactTel:ContactTel,
                ContactEmail:ContactEmail
            },
            success: function(data){

                if (data == 0) {
                    alert("처리중 오류가 발생했습니다.")
                }
                else if (data == -1)
                {
                    alert("처리중 오류가 발생했습니다.")
                }
                else if (data == -2) 
                {
                    alert("이미 등록되어있습니다.")
                }
                else {

                    const html = `<li class="list-group-item">
                                    <div class="d-flex">
                                        <div>
                                            <div class="mb-1">
                                                <i class="fa-solid fa-star me-1"></i>
                                                <span class="">${ContactName}</span>
                                            </div>
                                            <div class="mb-1">
                                                <i class="fa-solid fa-user-tag me-1"></i>
                                                <span class="">${ContactGrade}</span>
                                            </div>
                                            <div class="mb-1">
                                                <i class="fa-solid fa-building me-1"></i>
                                                <span class="">${ContactCompany}</span>
                                            </div>
                                            <div class="mb-1">
                                                <i class="fa-solid fa-phone me-1"></i>
                                                <span class="">${ContactTel}</span>
                                            </div>
                                            <div class="mb-1">
                                                <i class="fa-solid fa-envelope me-1"></i>
                                                <span>
                                                    <email class="email">${ContactEmail}</email>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="ms-auto">
                                            <div role="button" onclick="javascript:fnRemoveContact(${data})">
                                                <i class="fa-solid fa-minus text-danger fs-4"></i>
                                            </div>
                                        </div>
                                    </div>
                                </li>`;

                    $("#Contact-list").append(html)

                    $("#ContactName").val('')
                    $("#ContactGrade").val('')
                    $("#ContactCompany").val('')
                    $("#ContactTel").val('')
                    $("#ContactEmail").val('')

                    alert("정상 처리되었습니다.")

                }

            }

        })
        
    }

    function fnRemoveContact(id) {

        $.ajax({
            type: "POST",
            url: "/Project/RemoveContact",
            data: {
                ContactID : id,
                LocationID : @LocationID
            },
            success: function(data){

                if (data == 0) {
                    alert("처리중 오류가 발생했습니다.")
                }
                else {                                                                                                                                                                                                                  

                    parent.changeIframeUrl('/Project/IfAddContact?LocationID=@LocationID')

                    alert("정상 처리되었습니다.")

                }

            }
        
        })

    }
</script>
<div>

    <h6>업체 관계자 추가</h6>

    <div class="d-flex">
        <div class="flex-grow-1 me-4">
            <small>이름</small>
            <input type="text" id="ContactName" class="form-control form-control-sm" placeholder="업체 관계자 이름 입력" required />
        </div>
        <div class="flex-grow-1 me-4">
            <small>직급</small>
            <input type="text" id="ContactGrade" class="form-control form-control-sm" placeholder="업체 관계자 직급 입력" required />
        </div>
        <div class="flex-grow-1 me-4">
            <small>소속</small>
            <input type="text" id="ContactCompany" class="form-control form-control-sm" placeholder="업체 관계자 소속 입력" required />
        </div>
        <div class="flex-grow-1 me-4">
            <small>연락처</small>
            <input type="text" id="ContactTel" class="form-control form-control-sm" placeholder="업체 관계자 연락처 입력" required />
        </div>
        <div class="flex-grow-1">
            <small>이메일</small>
            <input type="text" id="ContactEmail" class="form-control form-control-sm" placeholder="업체 관계자 이메일 입력" required />
        </div>
    </div>

    <br />

    <button type="button" class="w-100 btn btn-border" onclick="javascript:fnAddContact()">추가</button>

    <hr />

    <h6>업체 관계자</h6>
    <ul id="Contact-list" class="list-group list-group-flush border rounded" style="max-height:65vh;">
    @{
        if (contacts.Count > 0)
        {

            foreach (var c in contacts)
            {
                <li class="list-group-item">
                    <div class="d-flex">
                        <div>
                            <div class="mb-1">
                                <i class="fa-solid fa-star me-1"></i>
                                <span class="">@c.ContactName</span>
                            </div>
                            <div class="mb-1">
                                <i class="fa-solid fa-user-tag me-1"></i>
                                <span class="">@c.Grade</span>
                            </div>
                            <div class="mb-1">
                                <i class="fa-solid fa-building me-1"></i>
                                <span class="">@c.Company</span>
                            </div>
                            <div class="mb-1">
                                <i class="fa-solid fa-phone me-1"></i>
                                <span class="">@c.Tel</span>
                            </div>
                            <div class="mb-1">
                                <i class="fa-solid fa-envelope me-1"></i>
                                <span>
                                    <email class="email">@c.Email</email>
                                </span>
                            </div>
                        </div>
                        <div class="ms-auto">
                            <div role="button" onclick="javascript:fnRemoveContact(@c.ContactID)">
                                <i class="fa-solid fa-minus text-danger fs-4"></i>
                            </div>
                        </div>
                    </div>
                </li>
            }
        }
        // else
        // {
        //     <li align="center" class="list-group-item">

        //         <div class="py-5 text-secondary">
        //             <h1>
        //                 <i class="fa-solid fa-users-slash"></i>
        //             </h1>

        //             <h6>
        //                 <span>등록된 인원 없음</span>
        //             </h6>
        //         </div>

        //     </li>
        // }
    }
    </ul>
</div>
