@using SecuDev.Helper
@{
    Layout = "~/Views/Shared/_PopLayout.cshtml";
    List<Project> list = ViewBag.list;    
}

<script>
    
</script>
<div>
    <h6>진기사 업데이트 이력</h6>

    <table class="table text-center">
        <tr>
            <th>장소</th>
            <th>설치 소프트웨어</th>
            <th>작업</th>
            <th>작업자</th>
            <th>작업일자</th>
        </tr>
        @{
            foreach(var p in list) {
                <tr>
                    <td>@p.LocationName</td>
                    <td>@p.SoftwareName</td>
                    <td>@p.InstallTypeName</td>
                    <td>@p.UserName</td>
                    <td>@Utility.DateTimeFormat(p.InstallDate, 1)</td>
                </tr>

            }
        }
    </table>

</div>