@using SecuDev.Models
@{
    Layout = "~/Views/Shared/_PopLayout.cshtml";
	Project p = ViewBag.Project;
}

<style>
    body {
        overflow-x:hidden;
    }
</style>
<script>
    $().ready(function(){
        let FileName = `@p.FileName`.split('|');
        let uniqueFileId = `@p.UUID`.split('|');

        let FileHtml = '';

        if (FileName[0] != '') {

            for (var i = 0; i < FileName.length; i++) {

                if (i == 0) {

                    FileHtml = '<a class="link-dark" href="/Board/Download?FileName=' + FileName[i] + '&uniqueFileId=' + uniqueFileId[i] + '">' + FileName[i] + '</a>';

                }
                else {

                    FileHtml = '<a class="link-dark ps-2" href="/Board/Download?FileName=' + FileName[i] + '&uniqueFileId=' + uniqueFileId[i] + '">' + FileName[i] + '</a>';

                }

                $("#fileArea").append(FileHtml);

            }
        }
        else {
            $("#fileArea").text("첨부파일 없음")
        }
    })

    function fnEditHistory(ProjectID) {

        const LocationID = parent.fnGetLocationID();

        parent.changeIframeUrl("/Project/IfWriteHistory?LocationID=" + LocationID + "&ProjectID=" + ProjectID);

    }

    function fnDeleteHistory(ProjectID){

        const LocationID = parent.fnGetLocationID();

        actionToast.confirm("해당 이력을 삭제하시겠습니까?", function(){
            $.ajax({
                type: 'POST',
                url: '/Project/DeleteHistory',
                data: {ProjectID : ProjectID},
                success: function(data){
                    
                    if (data == 1) 
                    {
                        actionToast.alert("정상 처리 되었습니다.")

                        parent.changeIframeUrl("/Project/IfRead?LocationID=" + LocationID);

                    }
                    else
                    {
                        actionToast.alert("처리중 오류가 발생했습니다.")
                    }

                }
            })
        })
    }
</script>
<div>

    <div class="row">

        <div class="col">
            <h6>작업 소프트웨어</h6>
            <span>@p.SoftwareName</span>
        </div>
        <div class="col">

            <h6>작업 분류</h6>
            <span>@p.InstallTypeName</span>
        </div>
    </div>

    <hr />

    <div class="row">

        <div class="col">

            <h6>작업자</h6>
            <span>@p.UserName</span>

        </div>

        <div class="col">
            <h6>버전 정보</h6>
            <span>@p.Version</span>
        </div>

    </div>

	<hr />

	<h6>작업 내용</h6>

    <div>

        <hr />
        <div class="px-2">
            <i class="fa-solid fa-file-arrow-down pe-2"></i>
            <span id="fileArea">

            </span>
        </div>
    </div>

    <hr />

    <div id="Content" class="border rounded-1 p-4 bg-white">
        @p.Content
    </div>

    <hr />

    <div class="float-end">

        <button class="btn btn-border" onclick="javascript:fnEditHistory(@p.ProjectID)">
            <i class="fa-solid fa-pen-to-square me-2 text-warning"></i>
            수정
        </button>

        <button class="btn btn-border" onclick="javascript:fnDeleteHistory(@p.ProjectID)">
            <i class="fa-solid fa-xmark me-2 text-danger"></i>
            삭제
        </button>

    </div>

</div>