@using SecuDev.Helper
@using SecuDev.Models;
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<SecuDev.Models.Project>
@{
    Layout = "~/Views/Shared/_PopLayout.cshtml";
    List<Project> list = ViewBag.list;
    List<Contact> contacts = ViewBag.Contact;
}
<script>

    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    })

    function fnClipboard(elem) {

        let $tmp = $("<input>");

        $("body").append($tmp);

        let email = $(elem).children("email").text()

        $tmp.val(email).select();

        document.execCommand("copy");

        $tmp.remove();

        $(elem).attr("title", "클립보드에 복사됨")

        const tooltip = new bootstrap.Tooltip(elem);

        tooltip.show()

        setTimeout(function(){

            tooltip.toggleEnabled()

        }, 3000);

    }

</script>
@* <div>
    <div class="d-flex">
        <h6>프로젝트 담당자</h6>
        <i class="fa-solid fa-plus ms-auto me-2 text-success"></i>
    </div>
    <ul class="list-group">

        <li class="list-group-item">
            <div class="mb-1">
                <i class="fa-solid fa-star me-1"></i>
                <span class="">프로젝트 관리자</span>
            </div>
            <div class="mb-1">
                <i class="fa-solid fa-user-tag me-1"></i>
                <span class="">과장</span>
            </div>
            <div class="mb-1">
                <i class="fa-solid fa-phone me-1"></i>
                <span class="">010-1234-5678</span>
            </div>
            <div class="mb-1">
                <i class="fa-solid fa-envelope me-1"></i>
                <span class="" role="button" onclick="javascript:fnClipboard(this)">
                    <email class="email">PL@company.com</email>
                    <small class="text-secondary">
                        <i class="fa-solid fa-copy ms-1"></i>
                    </small>
                </span>
            </div>
        </li>

        <li class="list-group-item">
            <div class="mb-1">
                <i class="fa-solid fa-star me-1"></i>
                <span class="">작업자</span>
            </div>
            <div class="mb-1">
                <i class="fa-solid fa-user-tag me-1"></i>
                <span class="">사원</span>
            </div>
            <div class="mb-1">
                <i class="fa-solid fa-phone me-1"></i>
                <span class="">010-1234-5678</span>
            </div>
            <div class="mb-1">
                <i class="fa-solid fa-envelope me-1"></i>
                <span class="" role="button" onclick="javascript:fnClipboard(this)">
                    <email class="email">worker@company.com</email>
                    <small class="text-secondary">
                        <i class="fa-solid fa-copy ms-1"></i>
                    </small>
                </span>
            </div>
        </li>

    </ul>

</div> *@

<div>
    <div class="d-flex align-items-center justify-content-center">
        <h6>업체 관계자</h6>
        <button type="button" onclick="parent.changeIframeUrl('/Project/IfAddContact?LocationID=@ViewBag.LocationID')" class="btn btn-sm btn-border me-1 ms-auto mb-2">
            <i class="fa-solid fa-gears me-1 text-secondary"></i>
            관리
        </button>
    </div>

    <ul class="list-group">

        @{
            if (contacts.Count > 0) {

                foreach (var c in contacts)
                {
                    <li class="list-group-item">
                        <div class="mb-1">
                            <i class="fa-solid fa-star me-1"></i>
                            <span class="">@c.ContactName</span>
                        </div>
                        <div class="mb-1">
                            <i class="fa-solid fa-user-tag me-1"></i>
                            <span class="">@c.Grade</span>
                        </div>
                        <div class="mb-1">
                            <i class="fa-solid fa-phone me-1"></i>
                            <span class="">@c.Tel</span>
                        </div>
                        <div class="mb-1">
                            <i class="fa-solid fa-envelope me-1"></i>
                            <span class="" role="button" onclick="javascript:fnClipboard(this)">
                                <email class="email">@c.Email</email>
                                <small class="text-secondary">
                                    <i class="fa-solid fa-copy ms-1"></i>
                                </small>
                            </span>
                        </div>
                    </li>
                }
            }
            else
            {
                <li align="center" class="list-group-item">

                    <div class="py-5 text-secondary">
                        <h1>
                            <i class="fa-solid fa-users-slash"></i>
                        </h1>

                        <h6>
                            <span>등록된 인원 없음</span>
                        </h6>
                    </div>
                
                </li>
            }
        }

    </ul>

</div>

<hr />

<div>
    <div class="d-flex align-items-center justify-content-center">
        <h6>작업 이력</h6>
        <button type="button" onclick="parent.changeIframeUrl('/Project/IfWriteHistory?LocationID=@ViewBag.LocationID')" class="btn btn-sm btn-border me-1 ms-auto mb-2">
            <i class="fa-solid fa-plus me-1 text-success"></i>
            추가
        </button>
    </div>
    <div class="border rounded-1">
        @{
            if (list.Count > 0){
                <table class="table table-hover rounded-1 text-center">

                    <thead>
                        <tr>
                            <th>작업 소프트웨어</th>
                            <th>작업 분류</th>
                            <th>작업자</th>
                            <th>작업일자</th>
                        </tr>
                    </thead>

                    <tbody>
                
                    @{
                        foreach (var p in Model)
                        {

                                <tr role="button" onclick="parent.changeIframeUrl('/Project/IfReadHistory?ProjectID=@p.ProjectID')">
                                <td>@p.SoftwareName</td>
                                <td>@p.InstallTypeName</td>
                                <td>@p.UserName</td>
                                <td>@Utility.DateTimeFormat(p.InstallDate, 1)</td>
                            </tr>

                        }
                    }

                    </tbody>
                </table>
                @Html.PagedListPager(Model, Page => Url.Action("IfRead", new { ViewBag.LocationID, Page, Model.PageSize }))
            }
            else 
            {
                <div align="center" class="py-5 text-secondary">
                    <h1>
                        <i class="fa-regular fa-calendar-xmark"></i>
                    </h1>

                    <h6>
                        <span>작업 이력 없음</span>
                    </h6>
                </div>
            }
        }
    </div>
</div>

@* <div>
    <h6>첨부 파일</h6>
    <div class="border rounded">

        <div id="fileArea" align="center" class="p-5 text-secondary">

            <div id="file" class="d-none">

                여기는 파일 링크가 들어가는 elem

            </div>

            <div id="fileNotFound">

                <h1>
                    <i class="fa fa-file-circle-xmark"></i>
                </h1>

                <h6>
                    <span>첨부 파일 없음</span>
                </h6>

            </div>

        </div>

    </div>
</div> *@